﻿@using DbLibrary
@using DbLibrary.Extensions
@model EmployeeEditModel

@{
    var fio = string.Join(" ", new[]
    {
        Model.Employee.LastName,
        Model.Employee.FirstName,
        Model.Employee.MiddleName,
    });
    ViewBag.Title = $"Сотрудник: {fio}";
    Layout = "_Layout";
    var empty = new Employee();
}

<h2>@(ViewBag.Title)</h2>
<form asp-controller="Employees" asp-action="SaveEdit">
    @Html.HiddenFor(v=>v.Employee.Id)
    <div class="form-group">
        @Html.LabelFor(v => v.Employee.LastName, empty.GetDisplay(v => v.LastName).Caption)
        @Html.EditorFor(v => v.Employee.LastName, new
        {
            htmlAttributes = new
            {
                @class = "form-control"
            }
        })
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Employee.FirstName, empty.GetDisplay(v => v.FirstName).Caption)
        @Html.EditorFor(v => v.Employee.FirstName, new
        {
            htmlAttributes = new
            {
                @class = "form-control"
            }
        })
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Employee.MiddleName, empty.GetDisplay(v => v.MiddleName).Caption)
        @Html.EditorFor(v => v.Employee.MiddleName, new
        {
            htmlAttributes = new
            {
                @class = "form-control"
            }
        })
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Employee.Dob, empty.GetDisplay(v => v.Dob).Caption)
        @Html.EditorFor(v => v.Employee.Dob, new
        {
            htmlAttributes = new
            {
                @class = "form-control",
                @type = "date"
            },
            @value = $"{Model.Employee.Dob:yyyy-MM-dd}"
        })
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Employee.Salary, empty.GetDisplay(v => v.Salary).Caption)
        @Html.EditorFor(v => v.Employee.Salary, new
        {
            htmlAttributes = new
            {
                @class = "form-control",
                @type = "number",
                @step = "1000",
            }
        })
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Employee.Post, empty.GetDisplay(v => v.Post).Caption)
        @Html.DropDownListFor(v => v.Employee.PostId, Model.Posts, new
        {
            @class = "form-control",
        })
    </div>
    <div class="form-group">
        <input type="submit" value="сохранить" class="btn btn-primary"/>
        <a class="btn btn-link" asp-controller="Employees" asp-action="Index">назад</a>
    </div>
</form>