﻿@using DbLibrary
@using DbLibrary.Extensions
@model EmployeesIndexModel

@{
    ViewBag.Title = "Сотрудники";
    Layout = "_Layout";
}

<h2>
    @(ViewBag.Title)
    <a class="btn btn-outline-success" asp-controller="Employees" asp-action="New">новый</a>
</h2>
<style>
    .myTable tr {
        cursor: pointer;
    }
    .myTable tbody tr:hover {
        background-color: lightpink;
    }
</style>

@{
    var empty = new Employee();
}

<table class="myTable table table-striped">
    <thead>
    <tr>
        <th>@(empty.GetDisplay(v => v.LastName).Caption)</th>
        <th>@(empty.GetDisplay(v => v.FirstName).Caption)</th>
        <th>@(empty.GetDisplay(v => v.MiddleName).Caption)</th>
        <th>@(empty.GetDisplay(v => v.Dob).Caption)</th>
        <th>@(empty.GetDisplay(v => v.Salary).Caption)</th>
        <th>@(empty.GetDisplay(v => v.Post).Caption)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var employee in Model.Employees)
    {
        <tr onclick="document.location = '/Employees/Edit/@($"{employee.Id:N}")'">
            <td>@(employee.LastName)</td>
            <td>@(employee.FirstName)</td>
            <td>@(employee.MiddleName)</td>
            <td>@($"{employee.Dob:dd.MM.yyyy}")</td>
            <td>@($"{employee.Salary:### ###.00} руб.")</td>
            <td>@(employee.Post.Caption)</td>
            <td><a asp-controller="Employees" asp-action="Delete" asp-route-id="@($"{employee.Id:N}")" class="btn btn-sm btn-danger">удалить</a></td>
        </tr>
    }
    </tbody>
</table>